@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');
.container-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:90%;
  padding:5%;
  min-height:100vh;
  background-color: black;
}

.title-form {
  color:white;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: 'Ysabeau SC', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  width:60%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

input[type="file"] {
  margin-bottom: 20px;
  padding: 10px;
  color: #ffffff;
  background-color: #333;
  border: 2px solid #555;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Ysabeau SC', sans-serif;
  width:90%;
  text-align: center;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #444;
  border: 2px solid #555;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
  font-family: 'Ysabeau SC', sans-serif;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  color: black;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: white;
}

pre {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
  /*overflow-x: auto;*/
  color: #cccccc;
}

.container-result {
  width:75%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-radius:10px;
  background-color: #1e1e1e;
}

.result {
  text-transform: capitalize;
  color:white;
  font-size: 22px;
  font-family: 'Ysabeau SC', sans-serif;
  text-decoration: underline;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  list-style:circle ;
}

.element-list {
  position: relative;
  margin:0 auto;
  font-family: 'Ysabeau SC', sans-serif;
  width:100%;
  padding:10px;
  margin-left: -30px;
}

.name, .url, .optimized-url, .auto-crop-url {
  color:white;
  font-size:20px;
  text-decoration: none;
  text-align: left;
}

.link{
  width:100%;
  overflow-wrap: break-word;
  color:aqua;
}

