@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');
.container-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:90%;
  min-width: 320px;
  padding:5%;
  min-height:100vh;
  background-color: black;
}

.title-form {
  color:white;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: 'Ysabeau SC', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  width:60%;
  min-width: 320px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

input[type="file"] {
  margin-bottom: 20px;
  padding: 10px;
  color: #ffffff;
  background-color: #333;
  border: 2px solid #555;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Ysabeau SC', sans-serif;
  width:90%;
  text-align: center;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #444;
  border: 2px solid #555;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
  font-family: 'Ysabeau SC', sans-serif;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  color: black;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: white;
}

pre {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
  /*overflow-x: auto;*/
  color: #cccccc;
}

/*Section resul*/

.container-result {
  width:75%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 0px;
  border-radius:10px;
  background-color: #1e1e1e;
}

.result {
  text-transform: capitalize;
  color:white;
  font-size: 22px;
  font-family: 'Ysabeau SC', sans-serif;
  text-decoration: underline;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width:100%;
  color:white;
  list-style:decimal;
}

.element-list {
  text-align: left;
  position: relative;
  margin:0 auto;
  font-family: 'Ysabeau SC', sans-serif;
  width:96%;
  padding:2%;
  margin-left: -30px;
}
.element-list img {
  object-fit: cover;
}

.name, .url, .optimized-url, .auto-crop-url {
  color:white;
  font-size:20px;
  text-decoration: none;
  text-align: left;
}


.link{
  width:100%;
  overflow-wrap: break-word;
  color:aqua;
}

/*List Uploaded*/

.container-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 5%;
  background-color: black;
  width:78%;
}

.images-list {
  width:100%;
  background-color: #1e1e1e;
  padding:40px;
  border-radius:10px;
  object-fit: cover;
}

#getall-section {
  color:white;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 30px;
}


.image-item {
  padding: 10px;
  border-radius: 0px;
  text-align: left;
  color:aqua;
  font-family: 'Ysabeau SC', sans-serif;
  list-style:decimal;
  border:1px solid aqua;

}
.image-item .url{
  color:aqua;
  overflow-wrap: break-word;
}

.image {
  max-width: 100%;
  border-radius: 4px;
}

/*Modale*/

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width:100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 30%;
  height:100px;
  background-color: #1e1e1e;
  padding: 20px;
  padding-top: 70px;
  border-radius: 10px;
  text-align: center;
  color: aqua;
  font-size:21px;
  border:1px solid aqua;
}

.close-button {
  position: relative;
  right:10px;
  top:-40px;
  color: aqua;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: white;
}

@media (max-width: 768px) {
  .modal-content{
    width: 60%;
    height:100px;
    padding-top: 70px;
  }
}